<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPT Subscripton for Twitter List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="bg-gray-100">
<div>
        <button id="theme-toggle" class="px-2 rounded">🌒</button>
    </div>
<div class="w-full text-center font-bold m-4">
        <div id="title">GPT Subscripton for Twitter List</div>
</div>
    {{main|safe}}
</body>
<script>
  var themeToggle = document.getElementById("theme-toggle");
    var body = document.body;

    // 检测浏览器或系统是否处于深色主题模式
    function isDarkTheme() {
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        // 浏览器或系统处于深色主题模式
        return true;
      } else {
        // 浏览器或系统处于浅色主题模式
        return false;
      }
    }

    // Toggle theme function
    themeToggle.addEventListener("click", function () {
      body.classList.toggle("dark");
      if (body.classList.contains("dark")) {
        themeToggle.textContent = "☀";
      } else {
        themeToggle.textContent = "️🌒";
      }
    });

    // 根据系统主题模式切换初始主题
    if (isDarkTheme()) {
      body.classList.add("dark");
      themeToggle.textContent = "☀";
    } else {
      body.classList.remove("dark");
      themeToggle.textContent = "️🌒";
    }
</script>
</html>
